<div style="height:80vh">
<div class="jumbotron"></div>
<div class="container">

  <div class=row>
    
    <div class="col-md-4">
      
      Section 1
    </div>
    <div class="col-md-4">
      Section 2
    </div>
    <div class="col-md-4">
      Section 3
    </div>

  </div>

</div>


</div>
<img src="../../../img/save-button.svg" class="pos-f-t" style="top:unset;left:unset;bottom:10px;right:10px; width:60px; height:60px; cursor:pointer" [routerLink]="['/canvas']"/>