<div class="container">
	<div class="row">
		<div class=col-xs-12>
			<canvas style="background-color: darkgrey; width:100%"></canvas>
			<div class="row">
				<button (click)="zoomOutCanvas()">zoom -</button>
				<button (click)="zoomInCanvas()">zoom +</button>
			</div>
			<div class="row">
				<div class="col-xs-12" id="canvas-contain-column">
					<div id="wrap">
						<iframe id="scalable-frame" srcdoc="
						<canvas 
						style='background-color:darkgrey; 
						width:200px;height:200px; 
						position:absolute; 
						left:50px;
						top:50px'>

						</canvas>">

						</iframe>

					</div>


				</div>

			</div>

		</div>
	</div>
</div>