#scalable-frame{

    --zoom-ratio: ;  

    width: 300px; height: 300px; border:none; background-color:red;
    -ms-zoom: var(--zoom-ratio);
        -moz-transform: scale(var(--zoom-ratio));
        -moz-transform-origin: 0 0;
        -o-transform: scale(var(--zoom-ratio));
        -o-transform-origin: 0 0;
        -webkit-transform: scale(var(--zoom-ratio));
        -webkit-transform-origin: 0 0;
}

#wrap { width: 100%; height:auto; padding: 0; overflow: visible; }